body{
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    background-color:rgb(89, 0, 172);
}
header{
    flex:1 100%;
    background-color: rgb(46, 170, 170);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 5px 10 0px;
}
.l-sidebar{
    flex:1;
    background-color: cornflowerblue;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 5px 0 0px;
}
.central-block{
    flex:100;
    /* background-color: dimgray; */
    display: flex;
    flex-flow: row wrap;
    border-radius: 20px;
    padding: 0px;
    margin: -5px 0px;
    box-sizing: border-box;
}

.central-block div {
    flex:1 300px;
    box-sizing: border-box;
    background-color: rgb(13, 211, 129);
    border-radius: 20px;
    padding:0px 30px;
    margin: 5px 5px;
    display: flex;
    flex-flow: row;
    align-items: center;
    
}
.central-block div p{
    flex: 1;
    min-width: 200px;
    margin: 0;
}

.r-sidebar{
    flex:1 1000;
    box-sizing: border-box;
    background-color:cyan;
    border-radius: 20px;
    padding: 10px;
    margin: 0 0 0 5px;
    /* font-size: 0.8rem; */
}
footer{
    flex:1 100%;
    background-color: rgb(146, 49, 114);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10 5px 0 0px;
}